@import url(https://fonts.googleapis.com/css?family=VT323);
@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  padding: 0;
  margin: 0;
} 
/* PAGE STYLING */
body {
  background-image: url(img/bossbg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

h1 {
  text-align: center;
  font-family: 'Creepster', cursive;
  -webkit-text-fill-color: #c5361979;
  -webkit-text-stroke-width: 0.015em;
  -webkit-text-stroke-color: black;
  margin: 0;
}

h3 {
  font-family: 'Creepster', cursive;
  font-size: 2rem;
}

#title {
  position: top ;
}

#title {
  font-family: 'Creepster', cursive;
  font-size: 8em;
  position: relative;
  bottom: 100px;
}
/* IN GAME ELEMENT STYLING */
.btn-entergame {
  position: relative;
  top: 50%;
  left:45%;
  z-index: 99;
  font-style: italic;
  font-family: 'Creepster', cursive;
  background-color: transparent;
  font-size: 1rem;
  background: rgba(72, 146, 219, 0.404);
  color: rgb(128, 0, 0);
  box-sizing: border-box;
  border-radius: 50%;
  height: 10rem;
  width: 10rem;
  padding: 5px;
}

#game {
  /* Center */
  background-image: url(img/darkness.webp);
  background-size: 700px 700px;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -400px; /* Half of height*/
  margin-left: -350px; /* Half of width */
  /* Screen size game */
  width: 700px;
  height: 800px;
  border: 1px solid pink;
  overflow: hidden; /*Pipe doesn't exceed game screen*/
}

#pipe {
  background-image: url(img/toxicpipe.webp);
  width: 50px;
  height: 800px;
  background-color: green;
  position: relative;
  left: 800px;
  animation: block 2s infinite linear;
}   

@keyframes  block {
  0% {left:800px;}
  100% {left:-50px;}
}

#hole {
  background-image: url(img/pipebg.jpg);
  background-position: center;
  width: 50px;
  height: 180px;
  background-color: rgba(252, 250, 250, 0.336);
  position: relative;
  left: 700px;
  top: -800px;
  animation: block 2s infinite linear;
}

#bert {
  position: absolute;
  top: 100px;
  border-radius: 50%;
  width : 50px;
  height : 50px;
}

#floor {
  width: 700px;
  height: 100px;
  background-color: pink;
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%)
}
img {
  border-radius: 50%;
}

/* Loop Floor */
@keyframes animate {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -60px 0;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html, body {
  height: 100%;
  min-height: 100%;
  overflow: hidden;
}

#floor {
  width: 100%;
  height: 10%;
  position: absolute;
  background-image: url(img/bossground.png);
  /*background-size: 60px 60px 60px 60px;*/
  animation: animate 210ms linear infinite;
}

@media only screen and (max-width: 768px) {
  .youLost{
      visibility: hidden;
  }
  .container{
    visibility: hidden;
  }
  .responsivenessIsBroken {
    display: block;
    color: rgba(255, 0, 0, 0.685);
    font-family: 'Creepster', cursive;
    font-size: 7rem;
    text-align: center;
  }
  
}



