* {
    padding: 0;
    margin: 0;
} 
/* PAGE STYLING */
body {
    background-image: url(img/flamesbackground.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-align: center;
    font-family: 'Tourney', cursive;
    font-size: 6em;
    -webkit-text-fill-color: #FFEBE7;
    -webkit-text-stroke-width: 0.015em;
    -webkit-text-stroke-color: black;
    margin: 0;
}

/* IN GAME ELEMENT STYLING */
.game {
    /* Center */
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -400px; /* Half of height*/
    margin-left: -500px; /* Half of width */
    /* Screen size game */
    width: 1000px;
    height: 800px;
    border: 1px solid yellow;
    border-radius: 10px;
    box-shadow: 4px 4px 4px 4px rgb(255, 174, 0);
    overflow: hidden; /*Pipe doesn't exceed game screen*/
    background-color: rgb(78, 2, 2);
    height: 105%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pipe {
    width: 50px;
    height: 800px;
    background-image: url(img/flames.jpg);
    position: relative;
    left: 650px;
    animation: block 3s infinite linear;
}   

@keyframes  block {
    0% {left:1000px;}
    100% {left:-100px;}
}

.hole {
    width: 50px;
    height: 200px;
    background-color: rgb(78, 2, 2);
    position: relative;
    left: 650px;
    top: -500px;
    animation: block 3s infinite linear;
}

.bert {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 100px;
    border-radius: 50%;
}

.floor {
    width: 700px;
    height: 100px;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%)
}
img {
    border-radius: 50%;
}

/* Loop Floor */
@keyframes animate {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -60px 0;
    }
  }
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
  html, body {
    height: 100%;
    min-height: 100%;
    overflow: hidden;
  }
  
  .floor {
    width: 100%;
    height: 14%;
    position: absolute;
    background-image: url("img/floor.jpg");
    /*background-size: 60px 60px 60px 60px;*/
    animation: animate 210ms linear infinite;
  }




/* Jonathan */

.entergame{
    background-color: rgb(139, 40, 22);
    height: 1000px;
    width: 100%;
    opacity: 0.90;
    position: absolute;
}

button{
    background-color: rgb(78, 2, 2);
    font-size: medium;
    color: rgb(252, 255, 53);
    height: 200px;
    width: 200px;
    padding: 20px;
    border-radius: 100px;
    margin-top: 200px;
    margin-left: 30px;
    box-shadow: 4px 4px 4px rgb(255, 174, 0);
    border: none;
}

/*
.btn-playagain{
    background-color: rgb(151, 0, 0);
    font-size: medium;
    color: rgb(252, 255, 53);
    height: 200px;
    width: 200px;
    padding: 20px;
    border-radius: 100px;
    margin-top: 200px;
    margin-left: 30px;
    box-shadow: 4px 4px 4px rgb(255, 174, 0);
    border: none;
}
*/

button:hover/*, .btn-playagain:hover*/{
    transform: scale(1.2);
    
}

.score-container, .score{
    background-color: rgb(151, 0, 0);
    color: rgb(252, 255, 53);
    margin-left: 4%;
    margin-top: 20px;
    margin-right: 87%;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 4px 4px 4px rgb(255, 174, 0);
}

