* {
    padding: 0;
    margin: 0;
} 
/* PAGE STYLING */
body {
    background-color: #7F95D1;
}

h1 {
    text-align: center;
    font-family: 'Tourney', cursive;
    font-size: 6em;
    -webkit-text-fill-color: #FFEBE7;
    -webkit-text-stroke-width: 0.015em;
    -webkit-text-stroke-color: black;
    margin: 0;
}

/* IN GAME ELEMENT STYLING */
#game {
    /* Center */
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -400px; /* Half of height*/
    margin-left: -350px; /* Half of width */
    /* Screen size game */
    width: 700px;
    height: 800px;
    border: 1px solid pink;
    overflow: hidden; /*Pipe doesn't exceed game screen*/
}

#pipe {
    width: 50px;
    height: 800px;
    background-color: green;
    position: relative;
    left: 650px;
    animation: block 2s infinite linear;
} 

@keyframes  block {
    0% {left:800px;}
    100% {left:-100px;}
}

#hole {
    width: 50px;
    height: 150px;
    background-color: pink;
    position: relative;
    left: 650px;
    top: -500px;
    animation: block 2s infinite linear;
}

#bert {
    width: 20px;
    height: 20px;
    background-color: red;
    position: absolute;
    top: 100px;
    border-radius: 50%;
}

