* {
    padding: 0;
    margin: 0;
} 
/* PAGE STYLING */
body {
    background-color: #7F95D1;
}

h1 {
    text-align: center;
    font-family: 'Tourney', cursive;
    font-size: 6em;
    -webkit-text-fill-color: #FFEBE7;
    -webkit-text-stroke-width: 0.015em;
    -webkit-text-stroke-color: black;
    margin: 0;
}

/* IN GAME ELEMENT STYLING */
#game {
    /* Center */
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -400px; /* Half of height*/
    margin-left: -350px; /* Half of width */
    /* Screen size game */
    width: 700px;
    height: 800px;
    border: 1px solid pink;
    overflow: hidden; /*Pipe doesn't exceed game screen*/
}

#pipe {
    width: 50px;
    height: 800px;
    background-color: green;
    position: relative;
    left: 650px;
    animation: block 2s infinite linear;
}   

@keyframes  block {
    0% {left:800px;}
    100% {left:-100px;}
}

#hole {
    width: 50px;
    height: 150px;
    background-color: pink;
    position: relative;
    left: 650px;
    top: -500px;
    animation: block 2s infinite linear;
}

#bert {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 100px;
    border-radius: 50%;
}

img {
    border-radius: 50px;
}


/* Jonathan */

.entergame{
    background-color: #f6f6f6;
    height: 1000px;
    width: 100%;
    opacity: 0.95;
    position: absolute;
}

.entergame h3{
    text-align: left;
} 

.btn-entergame{
    width: 300px;
    height: 300px;
    margin-top: 150px;
}


button{
    border: 5px solid #515070; 
    border-radius: 50%;
    background-color: #515070;
    padding: 20px 20px;
    outline: none;
}

button:hover{
    transform: scale(1.3);
    border: 1px solid #515070;
    cursor: pointer;
    
}

.playagain{
    background-color: #f6f6f6;
    height: 1000px;
    width: 100%;
    opacity: 0.8;
    position: absolute;
    display: none;
}

.btn-playagain{
    width: 300px;
    height: 300px;
    margin-top: 150px;
}