* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url("../img/bgglenn.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
    font-family: 'Tourney', cursive;
    font-size: 6em;
    -webkit-text-fill-color: #FFEBE7;
    -webkit-text-stroke-width: 0.015em;
    -webkit-text-stroke-color: black;
    animation: 0.2s appearAnimation ease-in;
}
#game {
    /* Center */
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -400px; /* Half of height*/
    margin-left: -350px; /* Half of width */
    /* Screen size game */
    width: 700px;
    height: 800px;
    border: 1px solid deepskyblue;
    overflow: hidden; /*Pipe doesn't exceed game screen*/
}
#pipe {
    width: 25px;
    height: 800px;
    background-color: lightblue;
    position: relative;
    left: 800px;
    animation: block 4s infinite linear;
}
@keyframes  block {
    0% {left:800px;}
    100% {left:-50px;}
}
#hole {
    width: 25px;
    height: 180px;
    overflow: hidden;
    background-color: deepskyblue;
    position: relative;
    left: 700px;
    top: -800px;
    animation: block 4s infinite linear;
}

#bert {
    position: absolute;
    top: 100px;
    border-radius: 50%;
}

#floor {
    width: 700px;
    height: 100px;
    background-color: deepskyblue;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%)
}
img {
    border-radius: 50%;
}

/* Loop Floor */ /*
@keyframes animate {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -60px 0;
    }
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
*/
html, body {
    height: 100%;
    min-height: 100%;
    overflow: hidden;
}
/*
#floor {
    width: 100%;
    height: 14%;
    position: absolute;
    background-image: url("../img/base.png");
    /*background-size: 60px 60px 60px 60px;
    /*animation: animate 210ms linear infinite;
*/

.score-container {
    font-size:xx-large;
    display: flex;
   /* border: solid white 5px; */
    border-left: none;
    border-right: none;
    font-weight: bolder;
    padding: 1em;

}