* {
    padding: 0;
    margin: 0;
}

/* PAGE STYLING */
body {
    background-color: #061072;

}

/* IN GAME ELEMENT STYLING */
#game {
    /* Center */
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -400px; /* Half of height*/
    margin-left: -350px; /* Half of width */
    /* Screen size game */
    width: 700px;
    height: 800px;
    overflow: hidden; /*Pipe doesn't exceed game screen*/
    background-color: #00a3a2;
    z-index: 2;
    border: 8px solid darkslategrey;
}

#pipe {
    width: 50px;
    height: 800px;
    position: relative;
    left: 650px;
    animation: block 1.5s infinite linear;
    animation-play-state: paused;
}

@keyframes block {
    0% {
        left: 800px;
    }
    100% {
        left: -100px;
    }
}

#hole {
    width: 50px;
    height: 150px;
    background-image: url("../img/spikes.png");
    position: relative;
    left: 650px;
    top: -500px;
    animation: block 1.5s infinite linear;
    animation-play-state: paused;
}

#bert {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 200px;
    border-radius: 50%;
}

#floor {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 14%;
    background-image: url("../img/grass.png");
    animation: animate 150ms linear infinite;
    animation-play-state: paused;
}

img {
    border-radius: 50%;
}

.stone {
    width: 50px;
    border-radius: 0;
}

/* Loop Floor */
@keyframes animate {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -60px 0;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html, body {
    height: 100%;
    min-height: 100%;
    overflow: hidden;
}

.score-container-extra {
    display: flex;
    max-width: 20vw;
    border-left: none;
    color: #FFEBE7;
    background-color: #000;
    font-weight: bolder;
    margin: 1em;
    margin-left: 0;
    padding: 1em;
    font-family: 'Press Start 2P', cursive;
}

.titleWrapper {
    background-color: #000;
    border-left: none;
    max-width: 15vw;
    padding: 0.5em;
}

h1 {
    font-family: 'Tourney', cursive;
    color: #FFEBE7;
}

.buttonContainer {
    display: flex;
    flex-flow: column;
}

.startButton {
    background-color: #ADADAD;;
    border: solid black 5px;
    max-width: 30vw;
    font-family: 'Press Start 2P', cursive;
    padding: 1em;
    margin: 2em;
    cursor: pointer;
}

.levelLink {
    background-color: #ADADAD;
    border: solid black 5px;
    color: black;
    max-width: 20vw;
    font-family: 'Press Start 2P', cursive;
    font-size: 11px;
    text-align: center;
    text-decoration: none;
    padding: 1em;
    margin: 2em;
    visibility: hidden;
}

.levelLink:active {
    color: #ADADAD;
    background-color: black;
}

.startButton:active {
    color: #ADADAD;
    background-color: black;
}

.startButton:hover {
    border-color: #FFEBE7;
}

.highscore {
    max-width: 25vw;
    border-left: none;
    color: #FFEBE7;
    background-color: #000;
    font-weight: bolder;
    margin: 1em;
    margin-left: 0;
    padding: 1em;
    font-family: 'Press Start 2P', cursive;
}

.backgroundContainer {
    display: flex;
    flex-flow: row;
    max-width: 100vw;
    min-height: calc(100vh - 80px);
}

.firstSection {
    display: grid;
    grid-template-columns: 80% 20%;
    min-width: 100vw;
}

.homeLink {
    max-height: 150px;
    margin-top: 5vh;
    border: solid 5px black;
    border-radius: 0;
    padding: 5px;
}

.toHome {
    font-family: 'Press Start 2P', cursive;
    font-size: 11px;
    text-decoration: none;
    padding: 5px;
}

.toHome:hover {
    color: #FFEBE7;
    cursor: pointer;
}

.homepageLinkWrapper {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.homeLink:hover {
    animation: shake 0.5s;
    animation-iteration-count: 1;
}

.homeLink:active {
    border-color: #FFEBE7;
}



.bossLink {
    max-height: 150px;
    margin-top: 5vh;
    border: solid 5px black;
    border-radius: 0;
    padding: 5px;
    visibility: hidden;

}
.bossLink:hover {
    animation: shake 0.5s;
    animation-iteration-count: 1;
}

.bossLink:active {
    border-color: #FFEBE7;
}
.toBoss {
    font-family: 'Press Start 2P', cursive;
    font-size: 11px;
    text-decoration: none;
    padding: 5px;
    visibility: hidden;
}

.toBoss:hover {
    color: #FFEBE7;
    cursor: pointer;
}







@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

.youLost {
    font-family: 'Press Start 2P', cursive;
    z-index: 10;
    font-size: 35px;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
}


/*make responsive*/
/*add 8bit for boss level*/
/*change cursor*/
