body {
    background-color: #7F95D1;
    margin: 0;
}

h1 {
    font-family: 'Tourney', cursive;
    font-size: 6em;
    -webkit-text-fill-color: #FFEBE7;
    -webkit-text-stroke-width: 0.015em;
    -webkit-text-stroke-color: black;
    animation: 0.2s appearAnimation ease-in;
    margin: 0;
}

/*This media query doesn't work properly but it supposedly fixes title on chrome ONLY since the stroke width doesn't work properly on it*/
/*@media screen and (-webkit-min-device-pixel-ratio: 0)*/
/*and (min-resolution: .001dpcm) {*/
/*    h1 {*/
/*        -webkit-text-stroke-width: 0;*/
/*        -webkit-text-fill-color: black*/
/*    }*/
/*}*/


#greetingMessage {
    font-family: 'Fira Sans', sans-serif;
    color: black;
    margin-top: 1em;
}

.innerBodyWrapper {
    /*display:none;*/
    display: flex;
    flex-flow: column;
    align-items: center;
    min-height: calc(100vh - 55px);
}

.levelsWrapper {
    display: flex;
    flex-flow: column;
    align-items: center;
    opacity: 0;
    animation: 0.2s appearAnimation ease-in;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
    margin-top: 3.5em;
}

.levelLink {
    text-decoration: none;
    cursor: pointer;
    font-family: 'Fira Sans', sans-serif;
    color: black;
    margin: 1.2em;
    background-color: #FFC0BE;
    border: solid black 1px;
    border-radius: 16px;
    padding: 0.5em;
    min-width: 15em;
    text-align: center;
    box-shadow: #FFEBE7 5px 5px 20px;
}

.levelLink:hover {
    color: #FFC0BE;
    background-color: black;

}

footer {
    display: grid;
    grid-template-columns: 50% 50%;
    border-top: 1px solid #FFEBE7;
    max-width: 100vw;
    background-color: black;
}

.copyright {
    justify-self: start;
    font-family: 'Fira Sans', sans-serif;
    margin: 1em;
    color: #FFEBE7;
}

.thanks {
    justify-self: end;
    font-family: 'Fira Sans', sans-serif;
    margin: 1em;
    color: #FFEBE7;
}


.animate span {
    display: block;
    position: relative;
    text-align: center;
}

.animate > span:nth-child(even) {
    animation: animateBackwards 1s ease-in-out forwards;
}

.animate > span:nth-child(odd) {
    animation: animateForwards 1s ease-in-out forwards;
}

@keyframes animateBackwards {
    from {
        top: 0;
        transform: rotate(0deg);
    }
    to {
        top: 0.4em;
        transform: rotate(18deg);
    }
}

@keyframes animateForwards {
    from {
        top: 0;
        transform: rotate(0deg);
    }
    to {
        top: .6em;
        transform: rotate(-15deg);
    }
}

@keyframes appearAnimation {
    from {
        opacity: 0
    }
    to {
        opacity: 1;
    }
}

@media only screen and (max-width: 900px) {
    h1 {
        font-size: 4em;
    }
}

@media only screen and (max-width: 640px) {
    h1 {
        font-size: 4em;
    }

    .levelLink {
        padding: 0.3em;
        min-width: 10em;
    }
}

@media only screen and (max-width: 480px) {
    h1 {
        font-size: 2.5em;
    }

    .levelLink {
        padding: 0.3em;
        min-width: 8em;
        margin: 1em;
    }

    .copyright {
        font-size: small;
    }

    .thanks {
        font-size: small;
    }
}